@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Italic.woff2") format("woff2"), url("../fonts/TTNorms-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TenorSans;
	font-display: swap;
	src: url("../fonts/Tenor Sans.woff2") format("woff2"), url("../fonts/Tenor Sans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Light.woff2") format("woff2"), url("../fonts/TTNorms-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
