//====================================================================================================
.main {
  @include adaptiveValue("padding-top", 97, 48);
  /* .main__container-fluid */
  background-color: rgb(54, 51, 72);
  background-image: url('@img/main/room-bg.png');

  &__container-fluid {
    max-width: 1500px;
    position: relative;
  }

  /* .main__scroll */

  &__scroll {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column-reverse;
  }

  /* .main__scroll-text */

  &__scroll-text {
    transform-origin: top left;
    transform: rotate(90deg);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    opacity: 0.27;
    text-align: left;
    text-transform: uppercase;
  }

  /* .main__container */

  &__container {}

  /* .main__wrapp */

  &__wrapp {
    display: flex;
  }

  /* .main__content */

  &__content {}

  /* .main__title */

  &__title {
    font-family: TenorSans;
    @include adaptiveValue("padding-top", 170, 85);
    @include adaptiveValue("max-width", 755, 377);
    @include adaptiveValue("font-size", 50, 25);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: left;
    @include adaptiveValue("margin-bottom", 26, 13);

    @media (max-width: em(600)) {
      padding-top: 30px;
    }

    span {
      color: rgb(229, 176, 147);
    }
  }

  /* .main__description */

  &__description {
    max-width: 560px;
    font-family: TTNorms;
    font-style: italic;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    @include adaptiveValue("margin-bottom", 43, 21);


    span {
      color: rgb(234, 177, 180);
    }
  }

  /* .main__form */

  &__form {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("width", 333, 166);

    @media (max-width: em(701)) {
      width: 100%;
    }
  }

  /* .main__input */

  &__input {
    @include adaptiveValue("padding-top", 26, 13);
    @include adaptiveValue("padding-bottom", 26, 13);
    @include adaptiveValue("padding-left", 37, 18);
    @include adaptiveValue("padding-right", 37, 18);
    @include adaptiveValue("font-size", 22, 14);
    border: 1px solid rgba(250, 250, 250, 0.17);
    border-radius: 7px;
    box-shadow: inset 0px 1px 4px 0px rgba(193, 203, 202, 0.21);
    background-color: rgb(255, 255, 255);
    @include adaptiveValue("margin-bottom", 14, 7);

    &::placeholder {
      @include adaptiveValue("font-size", 22, 14);
    }
  }

  /* .main__btn */

  &__btn {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 19, 9);
    @include adaptiveValue("padding-top", 26, 13);
    @include adaptiveValue("padding-bottom", 26, 13);
    @include adaptiveValue("padding-left", 37, 18);
    @include adaptiveValue("padding-right", 37, 18);
    border-radius: 7px;
    box-shadow: inset 0px 0px 12px 0px rgb(229, 183, 154);
    background: linear-gradient(-45.45deg, rgb(200, 140, 97) -2.41%, rgb(235, 190, 156) 61.824%);

    @media (max-width: em(600)) {
      justify-content: center;
    }
  }

  /* .main__img */

  &__imges {
    position: relative;

  }

  &__lashmaker {
    position: absolute;
    border-radius: 21.5px;
    top: 17%;
    left: 8%;
    background-color: rgb(237, 213, 208);
    width: 121px;
    text-align: center;
    padding: 10px 21px;
    color: rgb(54, 51, 72);
    font-size: 14px;
    font-weight: 500;

    @media (max-width: em(1186)) {
      top: 16%;
      left: 5%;
    }

    @media (max-width: em(1074)) {
      top: 15%;
      left: 2%;
    }

    @media (max-width: em(970)) {
      top: 14%;
      left: -1%;
    }

    @media (max-width: em(932)) {
      top: 13%;
      left: -4%;
    }

    @media (max-width: em(882)) {
      top: 11%;
      left: -7%;
    }

    @media (max-width: em(816)) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 90px;
      height: 2px;
      background-color: rgb(237, 213, 208);
      bottom: -69%;
      left: 83%;
      transform: rotate(415deg);
      z-index: 4;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgb(237, 213, 208);
      bottom: -180%;
      left: 137%;
      z-index: 4;
    }
  }

  &__eyebrow {
    position: absolute;
    top: 13%;
    right: 20%;
    border-radius: 21.5px;
    background-color: rgb(237, 213, 208);
    width: 121px;
    text-align: center;
    padding: 10px 21px;
    color: rgb(54, 51, 72);
    font-size: 14px;
    font-weight: 500;
    z-index: 4;

    @media (max-width: em(1186)) {
      top: 12%;
      left: 63%;
    }

    @media (max-width: em(1074)) {
      top: 11%;
    }

    @media (max-width: em(1018)) {
      top: 10%;
    }

    @media (max-width: em(970)) {
      top: 9%;
    }

    @media (max-width: em(932)) {
      top: 7%;
      left: 67%;
    }

    @media (max-width: em(882)) {
      top: 6%;
    }

    @media (max-width: em(816)) {
      display: none;
    }


    &::before {
      content: '';
      position: absolute;
      width: 127px;
      height: 2px;
      background-color: rgb(237, 213, 208);
      bottom: -121%;
      left: -85%;
      transform: rotate(311deg);
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgb(237, 213, 208);
      bottom: -276%;
      left: -72%;
      z-index: 4;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;

    @media (max-width: em(708)) {
      display: none;
    }
  }

  &__massage {
    position: absolute;
    border-radius: 21.5px;
    top: 49%;
    left: 13%;
    background-color: rgb(237, 213, 208);
    width: 121px;
    text-align: center;
    padding: 10px 21px;
    color: rgb(54, 51, 72);
    font-size: 14px;
    font-weight: 500;

    @media (max-width: em(970)) {
      left: 5%;
    }

    @media (max-width: em(882)) {
      left: 2%;
    }

    @media (max-width: em(816)) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 79px;
      height: 2px;
      background-color: rgb(237, 213, 208);
      bottom: 108%;
      left: 92%;
      transform: rotate(506deg);
      z-index: 4;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgb(237, 213, 208);
      bottom: 160%;
      left: 147%;
      z-index: 4;
    }
  }

  &__cosmetologist {
    position: absolute;
    border-radius: 21.5px;
    top: 42%;
    left: 56%;
    background-color: rgb(237, 213, 208);
    width: 121px;
    text-align: center;
    padding: 10px 21px;
    color: rgb(54, 51, 72);
    font-size: 14px;
    font-weight: 500;

    @media (max-width: em(970)) {
      left: 64%;
    }

    @media (max-width: em(816)) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 79px;
      height: 2px;
      background-color: rgb(237, 213, 208);
      bottom: 144%;
      left: -51%;
      transform: rotate(593deg);
      z-index: 4;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgb(237, 213, 208);
      bottom: 221%;
      left: -41%;
      z-index: 4;
    }
  }

  /* .main__stage */

  &__stage {
    @include adaptiveValue("height", 306, 153);
    @include adaptiveValue("margin-top", -200, -100);
    display: flex;
    justify-content: space-between;

    @media (max-width: em(1074)) {
      margin-top: rem(-50);
    }

    @media (max-width: em(914)) {
      margin-top: rem(0);
    }

    @media (max-width: em(858)) {
      margin-top: rem(30);
    }

    @media (max-width: em(460)) {
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 30px;
    }
  }

  /* .main__item */

  &__item-one {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 93px;
      height: 93px;
      background-image: url('@img/main/chair.png');
      top: -44px;
      left: 30px;

      @media (max-width: em(902)) {
        width: 62px;
        height: 62px;
        background-size: cover;
        top: -26px;
        left: 48px;
      }

      @media (max-width: em(708)) {
        width: 44px;
        height: 44px;
        background-size: cover;
        top: -14px;
        left: 39px;
      }

      @media (max-width: em(560)) {
        left: 19px;
      }

      @media (max-width: em(460)) {
        left: -19px;
      }

    }

    &::after {
      content: '';
      position: absolute;
      width: 5em;
      /* ширина в два раза меньше высоты, иначе получится полуовал */
      height: 10em;
      border: 2px solid rgb(200, 140, 97);
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      transform: rotate(275deg);
      border-right: none;
      border-top: none;
      border-left: none;
      top: -1px;
      left: 215px;

      @media (max-width: em(1048)) {
        display: none;
      }
    }

  }

  &__item-two {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 93px;
      height: 93px;
      background-image: url('@img/main/wardrobe.png');
      top: -48px;
      left: -16px;

      @media (max-width: em(902)) {
        width: 62px;
        height: 62px;
        background-size: cover;
        top: -25px;
        left: 8px;
      }

      @media (max-width: em(708)) {
        width: 44px;
        height: 44px;
        background-size: cover;
        top: -14px;
        left: 8px;
      }

      @media (max-width: em(460)) {
        left: -19px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 5em;
      /* ширина в два раза меньше высоты, иначе получится полуовал */
      height: 10em;
      border: 2px solid rgb(200, 140, 97);
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      transform: rotate(188deg);
      border-right: none;
      border-top: none;
      border-left: none;
      top: -166px;
      left: 128px;

      @media (max-width: em(1048)) {
        display: none;
      }
    }
  }

  &__item-three {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 93px;
      height: 93px;
      background-image: url('@img/main/brush.png');
      top: -48px;
      left: 19px;

      @media (max-width: em(902)) {
        width: 62px;
        height: 62px;
        background-size: cover;
        top: -26px;
        left: 48px;
      }

      @media (max-width: em(708)) {
        width: 44px;
        height: 44px;
        background-size: cover;
        top: -14px;
        left: 39px;
      }

      @media (max-width: em(560)) {
        left: 19px;
      }

      @media (max-width: em(460)) {
        left: -19px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 5em;
      /* ширина в два раза меньше высоты, иначе получится полуовал */
      height: 10em;
      border: 2px solid rgb(200, 140, 97);
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      transform: rotate(265deg);
      border-right: none;
      border-top: none;
      border-left: none;
      top: 7px;
      left: 273px;

      @media (max-width: em(1048)) {
        display: none;
      }
    }
  }

  &__item-four {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 93px;
      height: 93px;
      background-image: url('@img/main/chest.png');
      top: -48px;
      left: 19px;

      @media (max-width: em(902)) {
        width: 62px;
        height: 62px;
        background-size: cover;
        top: -26px;
        left: 48px;
      }

      @media (max-width: em(708)) {
        width: 44px;
        height: 44px;
        background-size: cover;
        top: -14px;
        left: 39px;
      }

      @media (max-width: em(560)) {
        left: 19px;
      }

      @media (max-width: em(460)) {
        left: -19px;
      }
    }
  }

  /* .main__figure */
  &__item_buttom {
    align-self: flex-end;

    @media (max-width: em(460)) {
      align-self: flex-start;
    }
  }

  &__figure {
    color: rgb(105, 105, 117);
    font-family: TenorSans;
    @include adaptiveValue("font-size", 80, 40);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: em(460)) {
      text-align: left;
    }
  }

  /* .main__text */

  &__text {
    color: rgb(255, 255, 255);
    @include adaptiveValue("max-width", 258, 200);
    font-family: TenorSans;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;

    @media (max-width: em(460)) {
      max-width: 100%;
      text-align: left;
    }
  }
}


//====================================================================================================
.office {
  padding-top: 168px;
  @include adaptiveValue("padding-top", 168, 84);
  padding-bottom: 10px;
  border-radius: 500% 0 400% 400% / 0% 0 50% 50%;
  /* .office__container */
  background-color: rgb(54, 51, 72);
  position: relative;

  @media (max-width: em(1700)) {
    padding-bottom: 30px;
  }

  @media (max-width: em(1060)) {
    padding-bottom: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url('@img/ofice/decor-right-bg.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 1000px;
    top: -30%;
    right: 0;

    @media (max-width: em(1900)) {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('@img/ofice/decor-left-bg.png');
    background-repeat: no-repeat;
    width: 700px;
    height: 1000px;
    top: 15%;
    left: 0;

    @media (max-width: em(1900)) {
      display: none;
    }
  }

  &__container {}

  /* .office__title */

  &__title {
    max-width: 1000px;
    @include adaptiveValue("max-width", 1000, 500);
    margin: 0 auto;
    font-family: TenorSans;
    @include adaptiveValue("font-size", 50, 25);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 50, 25);

    span {
      color: rgb(206, 148, 107);
    }
  }

  /* .office__wrapp */

  &__wrapp {
    display: flex;
    gap: 136px;
    @include adaptiveValue("gap", 136, 68);

    @media (max-width: em(980)) {
      flex-direction: column;
      gap: 20px;
    }
  }

  /* .office__images */

  &__images {
    position: relative;

  }

  /* .office__img */

  &__img {
    background-image: url('@img/ofice/bg.png');
    background-size: contain;
    @include adaptiveValue("width", 700, 350);
    @include adaptiveValue("height", 800, 400);
  }

  /* .office__link */

  &__link {
    position: absolute;
    top: 22%;
    right: 22%;

    &::before {
      content: '';
      position: absolute;
      display: block;
      border: 2px solid rgba(190, 141, 131, 0.24);
      border-radius: 50%;
      width: 400px;
      height: 400px;
      top: -106%;
      right: -109%;

      @media (max-width: em(600)) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 4em;
      /* ширина в два раза меньше высоты, иначе получится полуовал */
      height: 10em;
      border: 2px solid #fff;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      transform: rotate(352deg);
      border-right: none;
      border-top: none;
      border-left: none;
      top: -76px;
      left: 115px;

      @media (max-width: em(600)) {
        display: none;
      }
    }

  }

  /* .office__link-play */

  &__link-play {
    @media (max-width: em(600)) {
      width: 70px;
      height: 70px;
    }
  }

  /* .office__box */

  &__box {
    position: absolute;
    top: 20%;
    right: 10%;

    @media (max-width: em(600)) {
      top: 13%;
      right: 22%;
    }
  }

  /* .office__content */

  &__content {}

  /* .office__text */

  &__text {
    color: rgb(255, 255, 255);
    font-family: TTNorms;
    font-size: 20px;
    @include adaptiveValue("font-size", 20, 18);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    @include adaptiveValue("margin-bottom", 20, 10);
    @include adaptiveValue("padding-top", 110, 55, );

    @media (max-width: em(980)) {
      padding-top: 0;
    }
  }

  /* .office__description */

  &__description {
    font-family: TT Norms;
    font-size: 16px;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  /* .office__btn */

  &__btn {
    padding: 26px 37px;
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 19, 9);
    border-radius: 7px;
    box-shadow: inset 0px 0px 12px 0px rgb(229, 183, 154);
    background: linear-gradient(-45.45deg, rgb(200, 140, 97) -1.242%, rgb(235, 190, 156) 62.962%);

    @media (max-width: em(980)) {
      margin: 0 auto;
    }
  }
}

// ========
// первый попап 
.popup {

  /* .popup__wrapper */

  &__wrapper {}

  /* .popup__content */

  &__content {}

  /* .popup__close */

  &__close {
    img {
      @include adaptiveValue("width", 34, 20);
      @include adaptiveValue("height", 34, 20);
    }

  }
}

.answer {
  text-align: center;

  /* .answer__title */
  &__title {
    font-family: TenorSans;
    font-size: 40px;
    @include adaptiveValue("font-size", 40, 20);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: center;
    @include adaptiveValue("margin-top", 30, 15);
    @include adaptiveValue("margin-bottom", 30, 15);

    span {
      color: rgb(206, 148, 107);
    }
  }

  /* .answer__wrapp */

  &__wrapp {
    @include adaptiveValue("padding", 40, 20);
    display: flex;
    align-items: center;
    background-color: #fff;
    @include adaptiveValue("border-radius", 20, 10);
    position: relative;

    @media (max-width: em(674)) {
      width: 100%;
      justify-content: center;
    }
  }

  /* .answer__box */

  &__box {}

  /* .answer__text */

  &__text {
    color: rgb(49, 49, 64);
    font-family: TTNorms;
    @include adaptiveValue("font-size", 30, 15);
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    @include adaptiveValue("margin-bottom", 30, 15);
    max-width: 472px;
  }

  /* .answer__tel */

  &__tel {
    color: rgb(49, 49, 64);
    font-family: TTNorms;
    @include adaptiveValue("font-size", 37, 18);
    font-weight: 700;
    line-height: -1px;
    letter-spacing: -1.71px;
    text-align: center;
  }

  /* .answer__teligram */

  &__teligram {
    display: flex;
    align-items: center;
  }

  /* .answer__teligram-link */

  &__teligram-link {}

  /* .answer__teligram-img */

  &__teligram-img {
    @include adaptiveValue("width", 210, 105);
    @include adaptiveValue("height", 210, 105);
  }

  /* .answer__teligram-text */

  &__teligram-text {
    color: rgb(49, 49, 64);
    font-family: TTNorms;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    max-width: 190px;
  }

  /* .answer__img */

  &__img {
    position: absolute;
    right: 0;
    top: -26%;
    width: 513px;
    height: 730px;
    @include adaptiveValue("width", 513, 256);
    @include adaptiveValue("height", 730, 365);

    @media (max-width: em(674)) {
      display: none;
    }
  }
}

// второй папап с формой
.form {
  text-align: center;

  /* .answer__title */
  &__title {
    font-family: TenorSans;
    font-size: 40px;
    @include adaptiveValue("font-size", 40, 20);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: center;
    @include adaptiveValue("margin-top", 30, 15);
    @include adaptiveValue("margin-bottom", 30, 15);

    span {
      color: rgb(206, 148, 107);
    }
  }

  /* .answer__wrapp */

  &__wrapp {
    @include adaptiveValue("padding", 40, 20);
    display: flex;
    align-items: center;
    background-color: #fff;
    @include adaptiveValue("border-radius", 20, 10);
    position: relative;

    @media (max-width: em(898)) {
      width: 100%;
      justify-content: center;
    }
  }

  /* .answer__box */

  &__box {}

  /* .answer__text */

  &__text {
    @include adaptiveValue("font-size", 30, 15);
    color: rgb(52, 52, 63);
    font-family: TTNorms;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    @include adaptiveValue("margin-bottom", 20, 10);
  }

  /* .answer__tel */

  &__tel {
    @include adaptiveValue("font-size", 16, 14);
    color: rgb(52, 52, 63);
    font-family: TTNorms;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    @include adaptiveValue("margin-bottom", 20, 10);
  }

  /* .answer__teligram */

  &__sending {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  &__input {
    width: 100%;
    @include adaptiveValue("padding-top", 26, 13);
    @include adaptiveValue("padding-bottom", 26, 13);
    @include adaptiveValue("padding-left", 37, 18);
    @include adaptiveValue("padding-right", 37, 18);
    @include adaptiveValue("font-size", 22, 14);
    border: 1px solid rgba(250, 250, 250, 0.17);
    border-radius: 7px;
    box-shadow: inset 0px 1px 4px 0px rgba(193, 203, 202, 0.21);
    background-color: rgb(255, 255, 255);
    @include adaptiveValue("margin-bottom", 14, 7);

    &::placeholder {
      @include adaptiveValue("font-size", 22, 14);
    }
  }

  /* .main__btn */

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 19, 9);
    @include adaptiveValue("padding-top", 26, 13);
    @include adaptiveValue("padding-bottom", 26, 13);
    @include adaptiveValue("padding-left", 37, 18);
    @include adaptiveValue("padding-right", 37, 18);
    border-radius: 7px;
    box-shadow: inset 0px 0px 12px 0px rgb(229, 183, 154);
    background: linear-gradient(-45.45deg, rgb(200, 140, 97) -2.41%, rgb(235, 190, 156) 61.824%);

    @media (max-width: em(600)) {
      justify-content: center;
    }
  }


  /* .answer__img */

  &__img {
    position: absolute;
    right: -11%;
    top: -8%;
    @include adaptiveValue("width", 624, 208);
    @include adaptiveValue("height", 384, 192);

    @media (max-width: em(1094)) {
      right: -5%;
      top: -2%;
    }

    @media (max-width: em(986)) {
      right: 3%;
      top: -2%;
    }

    @media (max-width: em(898)) {
      display: none;
    }
  }
}

// =======================================
.coworking {

  /* .coworking__container */
  color: rgb(52, 52, 63);
  @include adaptiveValue("padding-top", 150, 75);
  @include adaptiveValue("padding-bottom", 150, 75);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-image: url('@img/plan/flower-decor-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    top: 10%;
    left: 0%;

    @media (max-width: em(1911)) {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url('@img/plan/scissors-decor-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    top: 50%;
    right: 0%;

    @media (max-width: em(1911)) {
      display: none;
    }
  }


  &__container {}

  /* .coworking__top */

  &__top {
    @include adaptiveValue("margin-bottom", 42, 21);
  }

  /* .coworking__title */

  &__title {
    font-family: TenorSans;
    @include adaptiveValue("font-size", 50, 25);
    font-weight: 400;
    line-height: -1px;
    text-align: center;
    @include adaptiveValue("max-width", 838, 419);
    margin: 0 auto;
    @include adaptiveValue("margin-bottom", 24, 12);

    span {
      color: rgb(206, 148, 107);
    }
  }

  /* .coworking__description */

  &__description {
    color: rgb(52, 52, 63);
    font-family: TT Norms;
    @include adaptiveValue("font-size", 20, 14);
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    @include adaptiveValue("max-width", 905, 452);
    @include adaptiveValue("margin-bottom", 30, 15);

    span {
      font-weight: 700;
    }
  }

  /* .coworking__link-video */

  &__link-video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('@img/coworking/video-decor-right.png');
      background-repeat: no-repeat;
      width: 323px;
      height: 305px;
      top: -15%;
      right: 5%;
      z-index: -1;

      @media (max-width: em(1016)) {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('@img/coworking/video-decor-left.png');
      background-repeat: no-repeat;
      width: 323px;
      height: 318px;
      bottom: -15%;
      left: 5%;
      z-index: -1;

      @media (max-width: em(1016)) {
        display: none;
      }
    }

  }

  /* .coworking__img */

  &__img {
    @include adaptiveValue("width", 720, 288);
    @include adaptiveValue("height", 395, 158);
  }

  /* .coworking__text */

  &__text {
    font-family: TenorSans;
    @include adaptiveValue("font-size", 22, 14);
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin: 0 auto;
    @include adaptiveValue("margin-top", 55, 27);
    @include adaptiveValue("margin-bottom", 23, 11);
  }

  /* .coworking__box */

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("gap", 105, 52);

    @media (max-width: em(658)) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }

  /* .coworking__list */

  &__list {}

  /* .coworking__item */

  &__item {
    @include adaptiveValue("margin-bottom", 10, 5);
    @include adaptiveValue("padding-left", 35, 30);
    color: rgb(52, 52, 63);
    font-family: TTNorms;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('@img/coworking/check-mark.png');
      background-repeat: no-repeat;
      width: 31px;
      height: 26px;
      bottom: -7%;
      left: 1%;
    }
  }

  /* .coworking__buttom */

  &__buttom {}

  /* .coworking__slider */

  &__slider {}

  /* .coworking__wrapper */

  &__wrapper {}

  /* .coworking__slide */

  &__slide {
    @media (max-width: em(988)) {
      padding-bottom: 70px;
    }
  }

  /* .coworking__wrapp */

  &__wrapp {
    display: flex;
    @include adaptiveValue("gap", 64, 32);

    @media (max-width: em(678)) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
    }
  }

  /* .coworking__slider-img */

  &__slider-img {
    @include adaptiveValue("width", 519, 259);
    @include adaptiveValue("height", 411, 205);
  }

  /* .coworking__slider-content */

  &__slider-content {}

  /* .coworking__slider-title */

  &__slider-title {
    padding-top: 32px;
    @include adaptiveValue("padding-top", 32, 16);
    color: rgb(52, 52, 63);
    font-family: TTNorms;
    font-size: 40px;
    @include adaptiveValue("font-size", 40, 20);
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    @include adaptiveValue("max-width", 338, 169);
    @include adaptiveValue("margin-bottom", 20, 10);

    @media (max-width: em(988)) {
      padding-top: 0;
    }
  }

  /* .coworking__slider-text */

  &__slider-text {
    color: rgb(52, 52, 63);
    font-family: TTNorms;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    @include adaptiveValue("max-width", 536, 268);
    @include adaptiveValue("margin-bottom", 45, 15);
  }

  /* .coworking__slider-btn */

  &__slider-btn {
    display: flex;
    align-items: center;
    color: #fff;
    @include adaptiveValue("gap", 19, 9);
    @include adaptiveValue("padding-top", 26, 13);
    @include adaptiveValue("padding-bottom", 26, 13);
    @include adaptiveValue("padding-left", 37, 18);
    @include adaptiveValue("padding-right", 37, 18);
    border-radius: 7px;
    box-shadow: inset 0px 0px 12px 0px rgb(229, 183, 154);
    background: linear-gradient(-45.45deg, rgb(200, 140, 97) -2.511%, rgb(235, 190, 156) 61.725%);
  }
}

.coworking__slider .swiper-pagination {
  left: 65%;
  bottom: 8%;
  transform: translate(-50%, -50%);

  @media (max-width: em(988)) {
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: em(678)) {
    left: 50%;
    bottom: 0%;
  }
}

.coworking__slider .swiper-pagination-current {
  color: rgb(75, 77, 69);
  font-family: TenorSans;
  @include adaptiveValue("font-size", 50, 25);
  font-weight: 400;
  line-height: -1px;
  letter-spacing: -0.5px;
  text-align: left;
  text-transform: uppercase;
  margin-right: 2px;
}

.coworking__slider .swiper-pagination-total {
  color: rgb(75, 77, 69);
  font-family: TenorSans;
  @include adaptiveValue("font-size", 20, 14);
  font-weight: 400;
  line-height: -1px;
  letter-spacing: -0.2px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 2px;
}

.coworking__slider .s-button-prev {
  position: absolute;
  top: 80%;
  left: 58%;
  z-index: 50;
  transform: translate(-50%, -50%);

  @media (max-width: em(988)) {
    top: 89%;
    left: 42%;
  }

  @media (max-width: em(678)) {
    top: 94%;
    left: 41%;
  }

  @media (max-width: em(534)) {
    left: 30%;
  }
}

.coworking__slider .s-button-next {
  position: absolute;
  top: 80%;
  left: 72%;
  transform: translate(-50%, -50%);
  z-index: 50;

  @media (max-width: em(988)) {
    top: 89%;
    left: 58%;
  }

  @media (max-width: em(678)) {
    top: 94%;
    left: 59%;
  }

  @media (max-width: em(534)) {
    left: 71%;
  }
}

// =====================================
.plan {

  /* .plan__container */
  background-color: rgb(54, 51, 72);
  @include adaptiveValue("padding-top", 100, 70);
  @include adaptiveValue("padding-bottom", 174, 87);
  border-radius: 150% 150% 350% 350% / 50% 50% 0% 0%;
  background-image: url('@img/plan/room-image.png');
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;

  @media (max-width: em(872)) {
    border-radius: 500% 500% 400% 400% / 50% 50% 0% 0%;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('@img/plan/lepestok-decor-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 1400px;
    top: 10%;
    left: -15%;

    @media (max-width: em(2066)) {
      display: none;
    }
  }

  /* .office__container */
  &__container {}

  /* .plan__title */

  &__title {
    font-family: TenorSans;
    @include adaptiveValue("font-size", 50, 25);
    font-weight: 400;
    line-height: -1px;
    text-align: center;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 50, 25);

    span {
      color: rgb(206, 148, 107);
    }
  }

  /* .plan__wrapp */

  &__wrapp {
    display: flex;
    @include adaptiveValue("gap", 78, 39);
    @include adaptiveValue("margin-bottom", 200, 100);

    @media (max-width: em(1024)) {
      flex-direction: column;
      align-items: center;
    }
  }

  /* .plan__content */

  &__content {}

  /* .plan__text */

  &__text {
    font-family: TT Norms;
    @include adaptiveValue("font-size", 20, 14);
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
    @include adaptiveValue("margin-bottom", 20, 10);
  }

  /* .plan__btn */

  &__btn {
    display: flex;
    align-items: center;
    color: #fff;
    @include adaptiveValue("gap", 19, 9);
    @include adaptiveValue("padding-top", 26, 13);
    @include adaptiveValue("padding-bottom", 26, 13);
    @include adaptiveValue("padding-left", 37, 18);
    @include adaptiveValue("padding-right", 37, 18);
    border-radius: 7px;
    box-shadow: inset 0px 0px 12px 0px rgb(229, 183, 154);
    background: linear-gradient(-45.45deg, rgb(200, 140, 97) -2.511%, rgb(235, 190, 156) 61.725%);

    @media (max-width: em(1024)) {
      margin: 0 auto;
    }
  }

  /* .plan__images */

  &__images {
    @include adaptiveValue("padding-top", 120, 60);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 5%;
      left: 50%;
      background-image: url('@img/plan/callout.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

      @media (max-width: em(517)) {
        top: -10%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -45%;
      right: 50%;
      background-image: url('@img/plan/map.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

      @media (max-width: em(1019)) {
        display: none;
      }
    }
  }

  &__images-text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: TTNorms;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: right;
    width: 120px;
    top: 0%;

    @media (max-width: em(368)) {
      left: 5%;
    }
  }

  /* .plan__img */

  &__img {
    @include adaptiveValue("width", 681, 340);
    @include adaptiveValue("height", 411, 205);
  }

  /* .plan__advantages-title */

  &__advantages-title {
    font-family: TenorSans;
    @include adaptiveValue("font-size", 50, 25);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 30, 15);

    span {
      color: rgb(206, 148, 107);
    }
  }

  /* .plan__list */

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include adaptiveValue("margin-bottom", 15, 10);
    flex-wrap: wrap;
    gap: 15px;

    @media (max-width: em(408)) {
      justify-content: center;
    }
  }

  /* .plan__item */

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .plan__advantages-img */

  &__advantages-img {
    @include adaptiveValue("margin-bottom", 26, 13);
    width: 50px;
    height: 50px;
  }

  /* .plan__advantages-text */

  &__advantages-text {
    max-width: 182px;
    color: rgb(255, 255, 255);
    font-family: TTNorms;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

  }

  /* .plan__appeal */

  &__appeal {
    color: rgb(255, 255, 255);
    font-family: TTNorms;
    font-size: 16px;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
}

// ========================
.advantage {
  background-color: rgb(54, 51, 72);
  @include adaptiveValue("padding-bottom", 80, 40);

  /* .advantage__box */

  &__box {
    display: flex;
    flex-direction: column;
  }
  &__box_one{
    background-image: url('@img/advances/room-bg-1.png');
    background-size: cover; 
  }
  &__box_two{
    background-image: url('@img/advances/room-bg-2.png');
    background-size: cover;
  }
  &__box_three{
    background-image: url('@img/advances/room-bg-3.png');
    background-size: cover;
  }
  &__box_four{
    background-image: url('@img/advances/room-bg-4.png');
    background-size: cover;
  }

  /* .advantage__title */

  &__title {
    font-family: TenorSans;
    @include adaptiveValue("max-width", 838, 279);
    @include adaptiveValue("font-size", 50, 25);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    @include adaptiveValue("margin-bottom", 24, 12);

    span {
      color: rgb(206, 148, 107);
    }
  }

  /* .advantage__description */

  &__description {
    font-family: TT Norms;
    @include adaptiveValue("font-size", 20, 14);
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    @include adaptiveValue("max-width", 838, 300);
    margin: 0 auto;

    span {
      color: rgb(234, 177, 180);
    }
  }

  /* .advantage__text-decor */

  &__text-decor {
    text-align: right;
    color: rgb(255, 255, 255);
    font-family: TenorSans;
    @include adaptiveValue("font-size", 120, 40);
    font-weight: 400;
    @include adaptiveValue("line-height", 80, 40);
    letter-spacing: 0px;
    @include adaptiveValue("max-width", 732, 292);
    opacity: 0.06;
    margin-right: 0;
    align-self: flex-end;
  }

  /* .advantage__item */

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: em(726)){
        flex-direction: column;
        justify-content: center;
    }
  }

  /* .advantage__img */

  &__img {
    @include adaptiveValue("width", 650, 320);
    @include adaptiveValue("height", 750, 320);
  }

  &__img_right{
    order: 1;
    @media (max-width: em(726)){
       order: 0; 
    };
  }


  /* .advantage__item-content */

  &__item-content {}

  /* .advantage__number */

  &__number {
    background: linear-gradient(138.21deg, rgb(248, 230, 226), rgb(176, 119, 107));
    -webkit-background-clip:
      text;
    -webkit-text-fill-color:
      transparent;
    background-clip:
      text;
    text-fill-color:
      transparent;
    font-family: TenorSans;
    font-size: 300px;
    @include adaptiveValue("font-size", 300, 150);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    opacity: 0.32;
  }

  /* .advantage__text */

  &__text {
    color: rgb(255, 255, 255);
font-family: TenorSans;
font-size: 30px;
@include adaptiveValue("font-size", 30, 15);
font-weight: 400;
@include adaptiveValue("line-height", 40, 20);
letter-spacing: 0px;
text-align: left;
@include adaptiveValue("max-width", 380, 190);
@include adaptiveValue("margin-top", -72, -36);
@include adaptiveValue("margin-left", 70, 35);
  }
  &__text_wight{
    @include adaptiveValue("max-width", 470, 235);
  }
}